<div style="position:absolute; left:0; top:54px;padding-right: 15px;padding-left: 15px;width:100%;height:100%">
    <img style="width:100%;height:100%" src="images/theme/theme13.jpg" style="position:absolute; top:0; left:0;"/>
    <!-- <img src="images/beautiful-bride.png" style="position:relative; top:30px; left:300px;"/> -->

</div>


<div style="position:absolute; left:0; top:610px;padding-right:151px;padding-left: 15px;">
        <p><font  color="#ff1493" size="4" face="Times New Roman" ><b>Date</b>: Sun,Dec 27th,2015<br>
            <b>Time</b>: Time will not be watched<br>
            <b>Venue</b>:<a href="http://thepavilionpatna.com">Pavilion</a>
            </font>
        </p>


</div>
