<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="styles/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>

<div style="position:absolute; left:0; top:54px;padding-right: 15px;padding-left: 15px;width:100%;height:90%">
    <img style="width:100%;height:100%" src="images/theme/theme12.jpg" style="position:absolute; top:0; left:0;"/>
    <!-- <img src="images/beautiful-bride.png" style="position:relative; top:30px; left:300px;"/> -->
</div>

<!-- Carousel
================================================== -->
<div  id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
     <div class="carousel-inner" role="listbox">
         <div class="item active">
             <img class="first-slide" src="images/mypic/1.jpg" alt="First slide">
             <div class="container">
                 <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>

             </div>
         </div>
         <div class="item">
             <img class="second-slide" src="images/mypic/2.jpg" alt="Second slide">
             <div class="container">
                 <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>

             </div>
         </div>
         <div class="item">
             <img class="third-slide" src="images/mypic/3.jpg" alt="third slide">
             <div class="container">

                 <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>

             </div>
         </div>
         <div class="item">
             <img class="fourth-slide" src="images/mypic/4.jpg" alt="Fourth slide">
             <div class="container">
                 <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
             </div>
         </div>
         <div class="item">
             <img class="fifth-slide" src="images/mypic/5.jpg" alt="Fifth slide">
             <div class="container">
                 <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
             </div>
         </div>
         <!--  <div class="item">
               <img class="third-slide" src="images/6.jpg" alt="Third slide">
               <div class="container">

               </div>
           </div>
           <div class="item">
               <img class="third-slide" src="images/7.jpg" alt="Third slide">
               <div class="container">

               </div>
           </div>
           <div class="item">
               <img class="third-slide" src="images/8.jpg" alt="Third slide">
               <div class="container">

               </div>
           </div> -->
       </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
   </div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Developed By Manish. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="scripts/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
