<p>Our story began in
    april 2015 it all started with watsapp chat and it just started as typical arrange marriage chat
    and first she didnt recognize me , we finally started chatting .dheere dheere chat ki baaten badhti gayi and chat converted to call. pehli baar we heard each other voice felt right .we both wanted to know each other ,worried about future is he/she is right person for me. kya samjhegi/samjhega mujhe.baaton baaton me baat badhne lagi  and we clicked.
    You were the girl I was waiting for, that I'd ask to marry me</p>
