<div style="position:absolute; left:0; top:54px;padding-right: 15px;padding-left: 15px;width:100%;height:100%">
    <img style="width:100%;height:100%" src="images/theme/theme9.jpg" style="position:absolute; top:0; left:0;"/>
    <!-- <img src="images/beautiful-bride.png" style="position:relative; top:30px; left:300px;"/> -->
</div>

<div style="position:absolute; left:0; top:54px;padding-right: 15px;padding-left: 15px;">

    <h1><font color="red">OurParents&Friends</font></h1>



    <p><font color="red" size="5" face="Times New Roman" ><br>
        The probability of separate worlds meeting is very small.the lure of it is immense.we send starships. we fall in love.Thank you for giving us the direction, insight & faith to what true love & happiness is, and the courage to allow us to know it's obtainable. The helping hand you extended to us made all the difference. Without you, our wedding wouldn't have been the dream that it will be. We will remember our special night for the rest of our lives, and we will always remember the impact you made on it. No amount of words could express our true thankfulness.


    </font></p>

</div>
